<h1>{{ titlePage }} </h1>

<div class="col-sm-4 video">
  <!-- AlbumDetails communication parent vers enfant -->
  <app-album-details  [album]="selectedAlbum" (onPlay)="playParent($event)"></app-album-details>
  </div>
<div class=" card container-lg principal center">
  <div class="col-sm-8 music d-flex flex-column " >
      <div class="card mb-5 shadow-lg border-dark" *ngFor="let album of  albums">
        <button (click)=onSelect(album)>Click Me</button>
        <div class="card-header bg-dark text-light fw-bold">
          {{album.ref}}
    </div>
    <!-- <div class="card-body"  *ngFor="let album of filteredAlbums"> -->
          <h1>
                <span *ngIf="selectedAlbum === album" class="text-dark"><i
                            class="fas fa-pause-circle"></i></span>
                {{ album.title }}
          </h1>

              <p class="card-text">{{album.description}}</p>
              <div class="d-flex">
                  <a class="btn btn-outline-dark text-black bg-info-subtle mx-1 fw-bolder" href="#" role="button" *ngFor="let el of album.tags">{{ el }}</a>
              </div>

              <img class="glyph-icon img-fluid mx-2" width="25px" src="../../assets/si-glyph-heart.svg" />
              <small>{{album.like}}</small>
              <img class="glyph-icon img-fluid mx-2" width="25px" src="../../assets/si-glyph-timer.svg" />
              <small *ngIf="albums">{{album.duration}}min</small>
          </div>
      </div><!-- .card -->

</div>
